* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #080808;

}

.header-section {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #080808;
  color: #ffffff;
}

header h1 {
  display: inline-block;
  border-top-right-radius: 35px;
  border-width: 60px;
  background: grey;
  font-size: 30px;
  padding-right: 80px;
  padding-left: 5px;
  text-align: left;
  color: #080808;
  
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

/*No marker is shown*/
header nav ul {
  list-style-type: none;
}

/*positioning the application links*/
header nav ul li {
  display: inline-block;
  margin-left: 25px;

}

header nav ul li a {
  color: gray;

}

header nav ul li a:hover {
  color: rgb(230, 221, 221);

}

header nav ul li a:active {
  color: rgb(80, 112, 126);

}

.hero-banner {
  margin: 0px 5%;
  height: 200px;
  width: 90%;
  margin-bottom: 50px;
  background-image: url("../images/background1.jpeg");
  background-size: cover;
  background-position: center;

}

.page-section {
  color: blue;
}

.grid-section {
  display: grid;
  margin: 0px 10%;
  width: 80%;
  background-color: aquamarine;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "item1 item1"
    "item2 item3"
    "item4 item5"
  ;
}

.item1 {
  grid-area: item1;
  height: 400px;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-repeat: no-repeat;
}

.item2 {
  grid-area: item2;

}

.item3 {
  grid-area: item3;
}

.item4 {
  grid-area: item4;
}

.item5 {
  grid-area: item5;
}



h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: blue;
}

p {
  margin: 0;
}